Repository ndbroadbent/whatsapp_things_to_do: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores, query-embeddings

biome-format:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

biome-lint:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

duplication:
  run: bunx jscpd src/

knip:
  run: bunx knip

biome-ignores:
  run: "if grep -l \"biome-ignore\" {staged_files} 2>/dev/null; then\n  echo \"‚ùå Found biome-ignore comments in staged files - these are forbidden!\"\n  exit 1\nfi\n"

query-embeddings:
  run: bun scripts/check-query-embeddings.ts

Configure knip to ignore undici-types dependency
  knip.json
Due: biome-format

Fix: Use deterministic date format in classifier prompt
  src/classifier/prompt.ts
  vitest.config.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

CI: Set TZ=UTC for deterministic prompt signatures
  .github/workflows/ci.yml
  tests/fixtures/classifier/images-schema.json.gz
  tests/fixtures/classifier/pronoun-resolution.json.gz
Due: none

Update E2E cache fixture with UTC timezone
  tests/fixtures/cli/cache-fixture.tar.gz
Due: none

Fix E2E test expectations for fetch-image-urls
  src/cli/e2e/09-fetch-image-urls.test.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Path conditions:
  biome-format: any of: *.{ts,js,json}
  biome-lint: any of: *.{ts,js}
  typecheck: any of: *.ts
  duplication: any of: *.ts
  knip: any of: *.ts
  biome-ignores: any of: *.ts
  query-embeddings: any of: src/embeddings/queries/*.json
