Repository ndbroadbent/whatsapp_things_to_do: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores, query-embeddings

biome-format:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

biome-lint:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

duplication:
  run: bunx jscpd src/

knip:
  run: bunx knip

biome-ignores:
  run: "if grep -l \"biome-ignore\" {staged_files} 2>/dev/null; then\n  echo \"‚ùå Found biome-ignore comments in staged files - these are forbidden!\"\n  exit 1\nfi\n"

query-embeddings:
  run: bun scripts/check-query-embeddings.ts

fix: use bun run instead of bunx for all commands
  .github/workflows/ci.yml
  Taskfile.yml
  lefthook.yml
  package.json
Due: biome-format

fix: add explicit entry points to knip config
  knip.json
Due: biome-format

feat: split classifier prompts for better accuracy with smaller models
  .env.example
  knip.json
  src/cache/filesystem.ts
  src/cache/index.ts
  src/cache/pipeline.test.ts
  src/cache/pipeline.ts
  src/classifier/index.ts
  src/classifier/message-offset.test.ts
  src/classifier/message-offset.ts
  src/classifier/prompt.test.ts
  src/classifier/prompt.ts
  src/classifier/pronoun-resolution.integration.test.ts
  src/classifier/response-parser.ts
  src/cli/e2e/03-embed.test.ts
  src/cli/e2e/04-filter.test.ts
  src/cli/e2e/07-classify.test.ts
  src/extraction/context-window.test.ts
  src/extraction/context-window.ts
  src/extraction/heuristics/context-window.test.ts
  src/extraction/heuristics/index.test.ts
  src/extraction/heuristics/index.ts
  src/scraper/metadata.test.ts
  src/scraper/metadata.ts
  src/types/extractor.ts
  tests/fixtures/cli/cache-fixture.tar.gz
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

feat: add persistent CLI config with `config` command
  README.md
  biome.json
  mise.toml
  package.json
  src/cache/filesystem.ts
  src/cache/pipeline.ts
  src/cli.ts
  src/cli/args.ts
  src/cli/commands/classify.ts
  src/cli/commands/config.ts
  src/cli/commands/preview.ts
  src/cli/config.test.ts
  src/cli/config.ts
  src/cli/e2e/10-analyze.test.ts
  src/cli/e2e/helpers.ts
  src/cli/steps/classify.ts
  src/cli/steps/context.ts
  src/cli/steps/runner.ts
  src/cli/user-settings.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Implement PDF export grouping options and shared export filtering
  src/cli/args.ts
  src/cli/commands.ts
  src/cli/commands/analyze.ts
  src/cli/commands/classify.ts
  src/cli/commands/fetch-image-urls.ts
  src/cli/commands/fetch-images.ts
  src/cli/commands/geocode.ts
  src/cli/config.ts
  src/cli/filter-options.ts
  src/cli/helpers.ts
  src/cli/steps/export.ts
  src/cli/steps/runner.ts
  src/export/filter.test.ts
  src/export/filter.ts
  src/export/index.ts
  src/export/pdf.test.ts
  src/export/pdf.ts
  src/index.ts
  src/types/export.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add export subcommands and fix PDF layout
  src/cli.ts
  src/cli/commands.ts
  src/cli/commands/export.ts
  src/cli/steps/export.ts
  src/export/pdf.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Change score system to 0-5 scale and remove isGeneric field
  src/classifier/index.ts
  src/classifier/prompt.test.ts
  src/classifier/prompt.ts
  src/classifier/response-parser.ts
  src/cli/aggregation.test.ts
  src/cli/aggregation.ts
  src/cli/commands/classify.test.ts
  src/cli/commands/classify.ts
  src/cli/e2e/07-classify.test.ts
  src/cli/e2e/08-geocode.test.ts
  src/cli/e2e/10-analyze.test.ts
  src/clustering/index.test.ts
  src/export/filter.test.ts
  src/export/filter.ts
  src/geocoder/index.ts
  src/test-support/index.ts
  src/types/classifier.ts
  tests/fixtures/cli/cache-fixture.tar.gz
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Use Bun text imports for map templates
  src/export/map/app.js.template
  src/export/map/index.html.template
  src/export/map/index.ts
  src/export/map/raw-imports.d.ts
  src/export/map/styles.css.template
  src/export/map/template.ts
  src/text-imports.d.ts
  tsconfig.json
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

fix: add PIXABAY_API_KEY to E2E fake env vars
  src/cli/e2e/helpers.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

feat: chunk long messages at parse time instead of truncating in context
  src/extraction/context-window.test.ts
  src/extraction/context-window.ts
  src/extraction/heuristics/context-window.test.ts
  src/parser/imessage.ts
  src/parser/index.test.ts
  src/parser/index.ts
  src/parser/whatsapp.ts
  src/types/parser.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

update prompt with new diambiguation instruction
  src/classifier/prompt.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

no need for src/default-activities.ts
  src/default-activities.ts
  src/index.ts
  tests/fixtures/cli/whatsapp-sample.txt
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

consistent interface
  src/index.ts
  src/processor.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

attribution links and many other things
  src/cli/args.ts
  src/cli/commands.ts
  src/cli/commands/fetch-image-urls.ts
  src/cli/config.ts
  src/cli/steps/fetch-image-urls.ts
  src/cli/steps/runner.ts
  src/export/map/app.js.template
  src/export/map/data.ts
  src/export/map/styles.css.template
  src/export/map/types.ts
  src/images/gemini-client.ts
  src/images/index.test.ts
  src/images/index.ts
  src/images/media-index.test.ts
  src/images/media-index.ts
  src/images/pixabay-filter.ts
  src/images/types.ts
  src/images/wikipedia-filter.ts
  src/images/wikipedia-license.test.ts
  src/images/wikipedia-license.ts
  src/images/wikipedia.ts
  src/index.ts
  src/types/export.ts
  tests/fixtures/cli/cache-fixture.tar.gz
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

fixed knip (**/cache/** dirs are ignored), fixed cache busting when prompt changes
  src/caching/filesystem.test.ts
  src/caching/filesystem.ts
  src/caching/index.ts
  src/caching/integration.test.ts
  src/caching/key.test.ts
  src/caching/key.ts
  src/caching/pipeline.test.ts
  src/caching/pipeline.ts
  src/caching/types.ts
  src/classifier/index.ts
  src/classifier/prompt.ts
  src/classifier/providers.ts
  src/cli/input.test.ts
  src/cli/steps/context.ts
  src/cli/steps/export.ts
  src/cli/steps/fetch-images.ts
  src/cli/steps/runner.ts
  src/cli/steps/scrape-urls.ts
  src/extraction/embeddings/index.ts
  src/extraction/index.ts
  src/geocoder/index.ts
  src/images/cache-helper.ts
  src/images/google-places.ts
  src/images/index.test.ts
  src/images/index.ts
  src/images/pixabay.ts
  src/images/wikipedia.ts
  src/index.ts
  src/scraper/metadata.ts
  src/test-support/fixture-cache.ts
  tests/fixtures/classifier/pronoun-resolution.json.gz
  tests/fixtures/cli/cache-fixture.tar.gz
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

more tweaks to map
  src/cli/steps/export.ts
  src/export/map/activity-list.js.template
  src/export/map/app.js.template
  src/export/map/data.ts
  src/export/map/lightbox.js.template
  src/export/map/markers.js.template
  src/export/map/styles.css.template
  src/export/map/tiles.js.template
  src/export/map/tooltip.js.template
  src/export/map/types.ts
  src/images/google-places.ts
  src/types/export.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

media library updates
  src/images/index.ts
  src/images/media-index.test.ts
  src/images/media-index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

pexels
  CLAUDE.md
  src/cli/args.ts
  src/cli/commands.ts
  src/cli/commands/fetch-image-urls.ts
  src/cli/commands/parse.ts
  src/cli/commands/preview.ts
  src/cli/commands/scan.ts
  src/cli/helpers.ts
  src/cli/steps/classify.ts
  src/cli/steps/context.ts
  src/cli/steps/embed.ts
  src/cli/steps/fetch-image-urls.ts
  src/cli/steps/filter.ts
  src/cli/steps/parse.ts
  src/cli/steps/place-lookup.ts
  src/cli/steps/scan.ts
  src/cli/steps/scrape-urls.ts
  src/images/index.test.ts
  src/images/index.ts
  src/images/pexels.test.ts
  src/images/pexels.ts
  src/images/pixabay.ts
  src/images/query-builder.test.ts
  src/images/query-builder.ts
  src/images/types.ts
  src/index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add centralized costs module and integrate with CLI commands
  src/cli/commands/classify.ts
  src/cli/commands/embed.ts
  src/cli/commands/fetch-image-urls.ts
  src/cli/commands/filter.ts
  src/cli/commands/place-lookup.ts
  src/costs/calculator.test.ts
  src/costs/calculator.ts
  src/costs/estimator.test.ts
  src/costs/estimator.ts
  src/costs/index.test.ts
  src/costs/index.ts
  src/costs/pricing.test.ts
  src/costs/pricing.ts
  src/costs/tracker.test.ts
  src/costs/tracker.ts
  src/costs/types.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add fingerprint module for monthly chunk deduplication
  package.json
  src/fingerprint/chunker.test.ts
  src/fingerprint/chunker.ts
  src/fingerprint/index.ts
  src/fingerprint/types.ts
  src/index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Fix fingerprint: remove timestamps from hash, add forbidden names check
  lefthook.yml
  scripts/check_forbidden_names.sh
  src/clustering/__snapshots__/clustered_suggestions.json
  src/fingerprint/chunker.test.ts
  src/fingerprint/chunker.ts
  src/fingerprint/index.ts
  src/index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

fix biome.json
  biome.json
Due: biome-format

Add entity resolution pipeline and link hints for media types
  scripts/resolve-entity.ts
  src/caching/pipeline.ts
  src/classifier/images-schema.integration.test.ts
  src/classifier/index.ts
  src/classifier/prompt.test.ts
  src/classifier/prompt.ts
  src/cli.ts
  src/cli/commands.ts
  src/cli/commands/classify.ts
  src/cli/commands/resolve-links.ts
  src/cli/e2e/10-resolve-links.test.ts
  src/cli/e2e/11-analyze.test.ts
  src/cli/steps/index.ts
  src/cli/steps/resolve-links.ts
  src/cli/steps/runner.ts
  src/cli/steps/scrape-helper.ts
  src/cli/steps/scrape-previews.ts
  src/cli/steps/scrape-urls.ts
  src/export/csv.ts
  src/export/excel.ts
  src/export/map/activity-list.js.template
  src/export/map/data.ts
  src/export/map/styles.css.template
  src/export/map/types.ts
  src/index.ts
  src/search/classification.ts
  src/search/google.ts
  src/search/heuristics.ts
  src/search/index.ts
  src/search/openlibrary.ts
  src/search/types.ts
  src/search/wikidata.ts
  src/test-support/index.ts
  src/types/classifier.ts
  src/types/place-lookup.ts
  tests/fixtures/classifier/images-schema.json.gz
  tests/fixtures/classifier/pronoun-resolution.json.gz
  tests/fixtures/cli/cache-fixture.tar.gz
  tests/fixtures/cli/whatsapp-sample.txt
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add lightweight chat-to-map/shared export for web workers
  package.json
  src/categories-core.ts
  src/categories.ts
  src/index.ts
  src/shared/index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add lightweight types entry point for SSR/web workers
  package.json
  src/types-entry.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Fix i18n-iso-countries locale and update CLAUDE.md
  CLAUDE.md
  src/place-lookup/index.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

added AGENTS.md symlinks
  AGENTS.md
  src/cli/e2e/AGENTS.md
Due: none

Add usage data to classifier and place-lookup APIs
  src/caching/integration.test.ts
  src/classifier/images-schema.integration.test.ts
  src/classifier/index.test.ts
  src/classifier/index.ts
  src/classifier/pronoun-resolution.integration.test.ts
  src/classifier/providers.ts
  src/cli/commands/preview.ts
  src/cli/steps/classify.ts
  src/cli/steps/place-lookup.ts
  src/index.ts
  src/place-lookup/index.integration.test.ts
  src/place-lookup/index.test.ts
  src/place-lookup/index.ts
  src/processor.ts
  src/shared/index.ts
  src/types/common.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Format fixes for providers.ts
  src/classifier/providers.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

add some false positive tests to ensure we don't track errands
  tests/fixtures/cli/whatsapp-sample.txt
Due: none

Fix FetchFn type compatibility for CI
  src/search/openlibrary.ts
  src/search/wikidata.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Pin Bun to 1.3.5 in CI, fix FetchFn types
  .github/workflows/ci.yml
  src/search/openlibrary.ts
  src/search/wikidata.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Fix Bun type conflicts: use FetchFn with explicit FetchResponse interface
  src/scraper/types.ts
  src/search/openlibrary.ts
  src/search/types.ts
  src/search/wikidata.ts
  src/types/place-lookup.ts
Due: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores

Add undici-types for bun-types fallback types
  bun.lock
  package.json
Due: biome-format

CI: Fix biome.json root setting for standalone execution
  .github/workflows/ci.yml
Due: none

CI: Fix YAML syntax for sed command
  .github/workflows/ci.yml
Due: none

Path conditions:
  biome-format: any of: *.{ts,js,json}
  biome-lint: any of: *.{ts,js}
  typecheck: any of: *.ts
  duplication: any of: *.ts
  knip: any of: *.ts
  biome-ignores: any of: *.ts
  query-embeddings: any of: src/embeddings/queries/*.json
